html {
    color: #FFF;
    background: #222;
    height: 100vh;
    width: 100vw;
    font-size: 24pt;
    overflow: hidden;
}

body {
    margin: 0;
}

svg path,
svg circle {
    fill: #FFF;
    transition: fill 0.2s ease;
}

button:hover svg path,
button:hover svg circle {
    fill: #aaa;

}

a:link,
a:visited {
    color: rgb(0, 162, 255);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF55;
}

#io {
    padding: 8px 8px 8px 8px;
    transition: 0.5s ease padding;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: scroll;
}

#io.pushed {
    padding-left: 408px;
}

#input,
#output {
    width: min(100%, max(50%, calc(100% - (100% - 600px) * 0.75)));
}

#input {
    background: rgb(13, 60, 32);
    background: linear-gradient(12deg, rgba(13, 60, 34, 1) 0%, rgba(11, 60, 75, 1) 100%);
    position: relative;
    display: inline-block;
    min-height: 1.75em;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    transition: box-shadow 0.5s ease, width 0.5s ease;
    box-shadow: 2px 2px 2px 2px #00000044;
    margin-bottom: 10px;
}


#input:hover {
    box-shadow: 2px 2px 4px 4px #00000044;
}

#output {
    word-wrap: break-word;
    font-size: 20pt;
    transition: width 0.5s ease;
}

pre {
    margin: 0;
    pointer-events: none;
}

#input_element,
#highlight_output {
    outline: none;
    border: none;
    min-height: 1.75em;
    font-size: 24pt;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    line-height: 1.2em;
    padding: 0.25em;
    width: 100%;
    margin: 0;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    white-space: pre-wrap;
}

#highlight_output {
    position: relative;
    z-index: 5;
}

#input_element {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: #ffffff44;
    resize: none;
}

.output_element {
    margin-bottom: 10px;
}

#panel {
    z-index: 10;
    position: absolute;
    top: 0;
    left: calc(0px - min(400px, 100vw));
    height: 100vh;
    width: min(400px, 100vw);
    background: #333;
    transition: 0.5s ease left;
}

#cover {
    opacity: 0%;
    transition: 0.5s ease opacity;
    pointer-events: none;
    background: #041a15;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: -1;
    position: fixed;
}

.mobile.open>#cover {
    opacity: 35%;
    pointer-events: all;
}

#panel_open {
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 100%;
    transition: ease 0.5s opacity;
    background: rgba(13, 60, 34, 1);
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0;
    padding-left: 2px;
    border-radius: 0 10px 0 0;
}

.open>#panel_open {
    opacity: 0%;
}

#panel.open {
    left: 0;
}

#panel_header {
    position: relative;
    background: rgba(13, 60, 34, 1);
    box-shadow: -2px 4px 5px 0px rgba(5, 30, 10, 0.2);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#panel_header>button {
    box-sizing: content-box;
    height: 30px;
    border: 0;
    background: transparent;
    padding: 3px;
    margin: 2px;
    border-radius: 4px;
}

#panel_header button.header_button_active {
    border-bottom: #bbb 4px solid;

}

button:hover .panel_header_icon {
    fill: #bbb;
}

.panel_page {
    background: #333;
    display: none;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 50px);
}

.panel_page_active {
    display: block;
}

#help_page {
    border: 0;
    width: 100%;
    opacity: 0;
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 5px 0px;
    box-sizing: border-box;
    display: none;
}

#help_page.shown {
    opacity: 100;
    display: block;
}

#help_search {
    outline: 0;
    background: #222;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 10px auto;
    padding: 5px;
    display: block;
    font-size: 16pt;
}


#search_results {
    font-family: "Roboto Mono", monospace;
    font-size: 14pt;
}

.search_result:hover {
    background: #FFFFFF10;
}

#keyboard {
    display: flex;
    flex-direction: row;
    --keyboard-height: calc(max(35vh, 7rem));
    --keyboard-width: calc(min(100vw, 25vw + 650px));
    height: var(--keyboard-height);
    width: var(--keyboard-width);
    transition: bottom 0.4s ease;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    background: #333;
    position: fixed;
    z-index: 20;
    bottom: calc(0px - var(--keyboard-height));
    left: 50%;
    margin-left: calc(0px - var(--keyboard-width) * 0.5);
    box-shadow: 0px -2px 8px 0px #00000044;
}

#keyboard.mobile {
    --keyboard-width: calc(min(100vw, 400px + 20vw));
}

#keyboard.shown {
    bottom: 0;
}

#keyboard * {
    font-family: "Roboto Mono", monospace;
    font-size: 16pt;
}

#keyboard_open {
    z-index: 15;
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgba(13, 60, 34, 1);
    width: 50px;
    height: 50px;
    border: 0;
    padding: 7px 0px 0px 2px;
    border-radius: 10px 0 0 0;
}

#keyboard_open_x {
    opacity: 0;
    transition: ease 0.4s opacity;
}

#keyboard_open_x.show {
    opacity: 50;
}

#keyboard.page2.mobile>div.key_page1.page,
#keyboard.page1.mobile>div.key_page2.page {
    display: none;
}

.key_page1,
.key_page2 {
    display: grid;
    place-items: center;
    justify-content: stretch;
    column-gap: 2%;
    row-gap: 2%;
}

.key_page1 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.key_page2 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


#keyboard.mobile>.page {
    width: 100%;
}

#keyboard>.page {
    width: 48%;
    margin: 1%;
}


#keyboard>.no_shift {
    display: grid;
}

#keyboard.shift>.no_shift {
    display: none;
}

#keyboard.shift>.need_shift {
    display: grid;
}

#keyboard>.need_shift {
    display: none;
}

button.key {
    border: none;
    background: #3F3F3F;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    user-select: none;
}

button.key:hover {
    background: #444444;
}

.offset_key {
    margin-left: 50%;
    margin-right: -50%;
}

.COLn {
    color: rgb(250, 230, 174);
}

.COLf {
    color: #efec9d;
}

.COLv {
    color: rgb(238, 156, 238);
}

.COLa {
    color: #68afea;
}

.COLe {
    color: #ff4e4e;
}

.COLb,
.COLd {
    color: #dddddd;
}

.COLo {
    color: #cccccc;
}

.COLs {
    color: #ff9532;
}

.COLc {
    color: #7dff7d;
}

.COLu {
    color: #52ffa8;
}

.COLt {
    color: #fff;
}

.COLx {
    color: #fff;
}

.COL\/ {
    color: #856de3;
}